{% extends "base.html" %}

{% block title %} Chatroom {% endblock %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/chatroom/chatroom.css')}}" />
<main>
    <div class="chat-container">
        <div class="chat-box" id="chat-box">
            <!-- Messages will be appended here -->
        </div>
        <form id="chat-form">
            <input type="text" id="message-input" placeholder="Type your message..." autocomplete="off" required />
            <button type="submit" id="send-button">Send</button>
        </form>

        <div class="user-count" id="user-count">
            <span id="room">Room {{room}}</span>
            <span>Users Connected:</span>
        	<!-- Users will be appended here -->
        </div>
        <div class="typing-bar" id="typing-bar">
            <!-- Typing notifications will be appended here -->
        </div>
    </div>
</main>

<script
    src="https://cdn.socket.io/4.7.5/socket.io.min.js"
    integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
    crossorigin="anonymous"
></script>

<script     
    type="module" 
    src="{{url_for('static', filename='js/chatroom.js')}}"
></script>


{% endblock %}