#console {
    border-color: #000000;
    border-radius: 20px;
    display: block;

}

.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    position: absolute;
    z-index: 3;
    visibility: visible;
    background: transparent !important;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    overflow: hidden;

}

.console {
    background-color: #d05858;
    grid-row-start: 1;
    grid-row-end: 1;
}

.board {
    grid-row-start: 2;
    grid-row-end: 2;
    height: 100%;
    margin: auto;
    aspect-ratio: 1/1;
    background-color: #46bfff;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 2.5fr;
    grid-template-rows: 2.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 2.5fr;
}

.center {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 11;
    background-color: black;
}

.parking {
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: #e9c33d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cop {
    grid-column-start: 11;
    grid-row-start: 1;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jail {
    grid-column-start: 1;
    grid-row-start: 11;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go {
    grid-column-start: 11;
    grid-row-start: 11;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    box-shadow: 0 0 0 5px orange inset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.span {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

.left {
    transform: rotate(90deg);
}

.right {
    transform: rotate(270deg);
}

.tooltip-text {
    visibility: hidden;
    width: 130px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.item:hover .tooltip-text {
    visibility: visible;
}