{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/chatroom.css')}}" />
<main>  
    <div class="message-board">
        <div id="message-board">Example Text</div>
    </div>
    <div class="footer">
        <form id="chat-form">
            <label for="message-field">Message:</label>
            <input type="text" id="message-field" autocomplete="off">
            <button type="submit">Send</button>
        </form>
    </div>
</main>

<script
        type="text/javascript"
        src="{{url_for('static', filename='js/chatroom.js')}}"
></script>

{% endblock %}